.banner-hero {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: max(100vh, 800px);
  background-image: url("./banner.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 16vw;
}
.about-hero {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
  height: max(100vh, 800px);
  background-image: url("./bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-right: 16vw;
}
.logo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  margin: 60px 0px;
  margin-left: -100px;
}
.logo-row img {
  width: 370px;
  object-fit: contain;
}
.banner-hero h1,
.about-hero h1 {
  font-size: 70px;
  text-transform: uppercase;
  color: white;
}
.about-hero h1 {
  color: black;
}
@media screen and (max-width: 1030px) {
  .banner-hero,
  .about-hero h1 {
    padding: 0;
    align-items: center;
  }
}
@media screen and (max-width: 675px) {
  .banner-hero h1,
  .about-hero h1 {
    font-size: 40px;
  }
}
.banner-hero a,
.about-hero a {
  width: 200px;
  height: 50px !important;
  font-size: 20px;
  cursor: pointer;
  background-color: black;
  color: white;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  margin: 0;
  border: 1px solid transparent;
}
.banner-hero a:hover,
.about-hero a:hover {
  background-color: white;
  color: black;
  border-color: black;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 50px;
}
.heading-cont {
  font-size: 60px;
  font-weight: 500;
}
.products-section {
  border-top: 1px solid rgba(27, 54, 68, 0.2);
  border-bottom: 1px solid rgba(27, 54, 68, 0.2);
}
.products-section > div > div > div {
  min-height: 500px;
}
.product-selector {
  position: relative;
}
.product-selector .select {
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #1b3644;
  flex: none;
  margin: 0px;
}
.product-selector .select.category-text {
  text-transform: capitalize;
  font-size: 18px;
  line-height: 80%;
  font-weight: 300;
}
.product-selector .select.category-text.active {
  font-weight: bold;
  text-decoration: underline;
}
.product-selector .nav-dropdown-middle a {
  color: #1b3644;
}
.product-selector .dropdown-item.active,
.dropdown-item:active {
  background-color: #1b3644 !important;
  color: #ffff !important;
}
.product-card.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 30px;
  margin: 0 !important;
  border: 1px solid rgba(27, 54, 68, 0.2);
  border-top: 0px;
}
.product-card.description .image {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
}
.product-card.description .image img {
  width: 58%;
  border-radius: 60px;
  opacity: 0.8;
}
.product-card.description .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
  color: #1b3644;
}
.product-card.description .text .title {
  font-size: 36px;
  font-weight: 300;
  line-height: 54px;
}
.product-card.description .text .category {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 0 !important;
  border: 1px solid rgba(27, 54, 68, 0.2);
  transition: 0.7s;
  height: 500px;
  box-sizing: border-box;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}
.product-card:hover {
  transform: scale(1.01);
  cursor: pointer;
}
.product-card .image {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
}
.product-card .image img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}
.product-card .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
  color: #1b3644;
}
.product-card .text .title {
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}
.product-card .text .category {
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
}
@media only screen and (max-width: 450px) {
  .MuiTablePagination-toolbar-40 {
    display: flex;
    flex-wrap: wrap;
  }
  .MuiTablePagination-actions-48 {
    margin-left: auto !important;
  }
}
