.saloon {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 30px 20px;
}
.box-saloon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  padding-bottom: 10px;
  margin-bottom: 100px;
  border-radius: 10px;
}
.box-saloon h2 {
  font-size: 25px;
  font-weight: 600;
}
.box-saloon h1 {
  font-size: 30px;
  font-weight: bold;
}
.box-saloon h3 {
  color: red;
  font-size: 25px;
}
.section-sal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
  margin-bottom: 100px;
  width: 100%;
}
.section-sal img,
.box-saloon img {
  max-width: 100%;
}
.sal-head {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 40px;
}
.hour-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.hour-div iframe {
  height: 533px;
  width: 100%;
}
.hour-div h1 {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
.hour-div h2 {
  font-size: 30px;
}
.hour-div div {
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.hour-div button {
  width: 200px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  padding: 10px 20px;
  font-size: 18px;
}
.service-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.service-slide img {
  width: 100%;
  height: 360px;
}
.service-slide h1 {
  font-weight: 500;
  font-size: 30px;
}
.sal-head2 {
  font-size: 50px;
  text-decoration: underline;
  font-weight: bold;
}
.map {
  max-width: 90%;
  object-fit: contain;
}
