body {
  margin: 0px;
  padding: 0px;
  font-family: SangBleu OG Sans Trial !important;
  font-style: normal !important;
  font-weight: 300;
  background-image: url("./bg.jpeg") !important;
  background-repeat: no-repeat;
  background-size: cover;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: SangBleu OG Sans Trial !important;
  font-style: normal !important;
  font-weight: 300;
  background-color: #a1b985 !important;
}
html {
  scroll-behavior: smooth;
}
